{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revolutionary method to loss weight</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>

</head>
<body>
<div class="text">
    <h1 id="main_title">Discover how women around<br>america is <span style="color:#7fff00;">losing 10lbs per week</h1>
</div>

<iframe src="https://www.youtube.com/embed/Fp1QmKIFaCU?autoplay=1&loop=1&controls=2&showinfo=0&rel=0" 
class="youtube-video" width="800px" height="400px">
</iframe>


<div class="image-background">
</div> 

<button class="button-external-link">I wan't to change my life through these method</button>

</body>
</html>